<?xml version="1.0"?>
<launch>
  <arg name="quad_name" default="haubentaucher"/>

  <arg name="mav_name" default="$(arg quad_name)"/>
  <arg name="model" value="$(find rotors_description)/urdf/mav_generic_odometry_sensor.gazebo"/>
  <arg name="world_name" default="$(find haubentaucher_gazebo)/worlds/sandisland.world"/>

  <arg name="use_unity_editor" default="true" />
  <arg name="paused" value="false"/>
  <arg name="gui" value="true"/>
  <arg name="use_mpc" default="true"/>
  <arg name="use_ground_truth" default="true"/>
  <arg name="enable_ground_truth" default="true"/>
  <arg name="enable_command_feedthrough" default="false"/>
  <arg name="custom_models" default=""/>

  <arg name="enable_logging" default="false"/>
  <arg name="log_file" default="$(arg mav_name)"/>

  <arg name="x_init" default="173"/>
  <arg name="y_init" default="107"/>
  <arg name="z_init" default="0.7"/>

  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>

  <param name="use_sim_time" value="true"/>

  <!-- Gazebo stuff to spawn the world !-->
  <env name="GAZEBO_MODEL_PATH"
      value="${GAZEBO_MODEL_PATH}:$(find rotors_gazebo)/models:$(arg custom_models)"/>
  <env name="GAZEBO_RESOURCE_PATH"
      value="${GAZEBO_RESOURCE_PATH}:$(find rotors_gazebo)/models"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="verbose" value="$(arg verbose)"/>
  </include>

  <!-- RotorS stuff to spawn the quadrotor !-->
  <group ns="$(arg mav_name)">
    <include file="$(find haubentaucher_gazebo)/launch/spawn_mav.launch">
      <arg name="mav_name" value="$(arg mav_name)" />
      <arg name="model" value="$(find haubentaucher_description)/urdf/$(arg mav_name).urdf.xacro" />
      <arg name="enable_logging" value="$(arg enable_logging)" />
      <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
      <arg name="log_file" value="$(arg log_file)"/>
      <arg name="x" value="$(arg x_init)" />
      <arg name="y" value="$(arg y_init)" />
      <arg name="z" value="$(arg z_init)" />
    </include>
  </group>
  <node pkg="haubentaucher_gazebo" type="dryden_utils.py" name="wind_nodea" output="screen"></node>


</launch>
